body {
    font-size: 18px;
}

.dom_header {
    width: inherit;
    display: flex;
    height: 0px;
    /* margin: 0px 15px; */
    flex-direction: column;
}

#header {
    width: inherit;
    display: flex;
    height: 60px;
    /* margin: 0px 15px; */
    flex-direction: column;
}

.download_text {
    height: 30px;
    display: flex;
    width: auto;
    background: transparent;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.download_text .download {
    color: #ADBFE1;
    display: block;
    background-color: black;
    padding: 10px;
    text-decoration: auto;
    color: #ffff;
}

/* Social Media */

#social {
    text-align: center;
    background-color: #080808;
}

.smGlobalBtn {
    /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
}

/* facebook button class*/
.facebookBtn {
    background: #4060A5;
}

.facebookBtn:before {
    /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "f";
    /* add facebook icon */
}

.facebookBtn:hover {
    color: #4060A5;
    background: #fff;
    border-color: #4060A5;
    /* change the border color on mouse hover */
}

/* twitter button class*/
.twitterBtn {
    background: #00ABE3;
}

.twitterBtn:before {
    font-family: "FontAwesome";
    content: "t";
    /* add twitter icon */

}

.twitterBtn:hover {
    color: #00ABE3;
    background: #fff;
    border-color: #00ABE3;
}

/* google plus button class*/
.googleplusBtn {
    background: #e64522;
}

.googleplusBtn:before {
    font-family: "FontAwesome";
    content: "g";
    /* add googleplus icon */
}

.googleplusBtn:hover {
    color: #e64522;
    background: #fff;
    border-color: #e64522;
}

/* linkedin button class*/
.linkedinBtn {
    background: #0094BC;
}

.linkedinBtn:before {
    font-family: "FontAwesome";
    content: 'in';
    /* add linkedin icon */
}

.linkedinBtn:hover {
    color: #0094BC;
    background: #fff;
    border-color: #0094BC;
}

.post {
    padding-bottom: 30px;
    display: flex;
    border-bottom: #203253 dashed 1px;
    flex-direction: column;
    align-items: center;
}

p,
ul,
ol {
    margin-top: 0;
    line-height: 14px;
    /* text-align: justify; */
    overflow: hidden;
    text-align: justify;
    font-size: 13px;
}

.img_media {
    display: block;
    position: relative;
    width: 30%;
}

@media (min-width: 200px) and (max-width: 435PX) {
    #logo2>img {
        width: 50%;
    }

    .img_media {
        display: -webkit-inline-box;
        position: relative;
        width: 30%;
    }

    #page {
        /* margin: 0px 20px auto; */
        /* padding: 4px; */
        display: flex;
        justify-content: center;
        /* margin-top: 40px;*/
    }

    #logo {
        margin: auto;
        padding: 48px 0px 1px 0px;
        text-transform: unset;
        display: none;
        flex-direction: column;
    }

    .overlay {
        width: -webkit-fill-available;
        /* position: fixed; */
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }

}